<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <button class="button-create" type="submit">Update</button>
    <a class="button button-remove" href="/books">Cancel</a>
</form>