<h2 class="section-title">Add a New Book</h2>
<form class="section-search add-book" action="/books" method="POST"> <!-- the enctype tells the server that the form can include files -->
    <%- include('_form_fields') %> 
    <div id="create-remove-btn">
        <button class="button-create" type="submit">Create</button>
        <a class="button button-remove" href="/books">Cancel</a> 
    </div>  
</form>