<header>
    <nav>
        
        <ul>
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/authors">
                    <i class="fas fa-user-friends"></i>
                    <span>Authors</span>
                </a>
            </li>
            <li>
                <a href="/authors/new">
                    <i class="fas fa-user-plus"></i>
                    <span>Add&nbspAuthor</span>
                </a>
            </li>
            <li>
                <a href="/books">
                    <i class="fas fa-book"></i>
                    <span>Books</span>
                </a>
            </li>
            <li>
                <a href="/books/new">
                    <i class="fas fa-book-medical"></i>
                    <span>Add&nbspBook</span>
                </a>
            </li>
            <li>
                <a href=#>
                    <i class="fas fa-lightbulb"></i>
                    <span>Toggle</span>
                </a>
            </li>
        </ul>
    </nav>
</header>