<h2>Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <button class="button-create" type="submit">Update</button>
    <a class="button button-remove" href="/authors/<%= author.id %>">Cancel</a>
</form>