<h2 class="section-title">Edit Author</h2>
<form class="section-search" action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <div id="create-remove-btn">
        <button class="button-create" type="submit">Update</button>
        <a class="button button-remove" href="/authors/<%= author.id %>">Cancel</a>
    </div>
</form>
