<h2>Add New Author</h2>
<form action="/authors" method="POST">
    <%- include('_form_fields') %> 
    <button class="button-create" type="submit">Create</button>
    <a class="button button-remove" href="/authors">Cancel</a>   
</form>