button, .button {
    padding: 3px ;
    border-radius: 10px;
    background-color: initial;
    border: 2px solid;
    color: $btn-basic;
    border-color: $btn-basic;
    font-size: 16px;
    outline: none;
    font-family: $main-font;
    cursor: pointer;
    @include btnHover($btn-basic);
}

.button-remove, a.button-remove, button.button-remove {
    color: $btn-remove;
    border-color: $btn-remove;
    @include btnHover($btn-remove);
}

.button-edit, a.button-edit, button.button-edit {
    color: $btn-edit;
    border-color: $btn-edit;
    @include btnHover($btn-edit);
}

.button-create, a.button-create, button.button-create {
    color: $btn-create;
    border-color: $btn-create;
    @include btnHover($btn-create);
}