//background
$main-primary-color: #344955;
$main-darker-color: #232f34;
$main-secondary-color: #f9aa33;

//font
$main-font: 'Raleway', sans-serif;

//buttons
$btn-basic: #cbc9ad;
$btn-remove: #bc6c25;
$btn-edit: #117cc4;
$btn-create: rgb(0, 238, 255);


//mixins
@mixin btnHover($bg) {
    &:hover, &:focus {
        background-color: $bg;
        color: $main-darker-color;
        font-weight: bold;
    }
}

@mixin inputField {
    justify-self: center;
    background: $main-darker-color;
    border: none;
    border-bottom: 1px solid burlywood;
    border-right: 1px solid burlywood;
    border-bottom-right-radius: 20% 100%;
    color: $btn-basic;
    outline: none;
    font-size: 16px;
    font-family: $main-font;
    &::placeholder {
        color: $btn-basic;
    }

    &:hover, &:focus {
       border-color: $btn-create;
    }
}